*
*/

!README.org
!.gitignore
!.gitsubmodules
!LICENSE
!flake.nix
!flake.lock
!default.nix
!overlay.nix
!ci.nix

!github/
!github/**/
!github/**/*.yaml

!lib/
!lib/**/
!lib/**/*.nix

!nixos-modules/
!nixos-modules/**/
!nixos-modules/**/*.nix

!overlays/
!overlays/**/
!overlays/**/*.nix

!pkgs/
!pkgs/**/
!pkgs/**/*.nix

*~
*#
result
result-*
tmp/